

$body-color: #fff;
$pcolor: #8e8e99;
$sub-bg: #18191d;
$main-color: #fd7171;
$dark-shadow: 0px 10px 40px -4px rgba(0,0,0,.1); 
$mobile-xs-screen: 480px;
$tablet-sm-screen: 767px;
$desk-md-screen: 991px;
$desk-lg-screen: 1200px;
