/* ====================== [ Custom Mobile-app Styles  ] ====================== */
body.mobile-app {
  background-color: #23262d;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

body.mobile-app main {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 20px 20px 0 0;
  background-color: #23262d;
  z-index: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p {
  color: #c4c6c7;
  font-size: 16px;
  font-weight: 300 !important;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.sub-head {
  background: rgba(255, 255, 255, 0.02);
}

.sub-bg {
  background-color: #1f2229;
}

.nav-scroll {
  background: #1f2229;
}

.nav-scroll .navbar-nav .nav-link {
  color: #fff !important;
}

.circle-blur {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #ef7355;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  opacity: .5;
}

/* ------------ header ------------ */
header {
  background-size: 100% !important;
  background-position: center bottom;
  position: relative;
}

header:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  opacity: .8;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

header .cont h6 {
  padding: 10px 15px;
  display: inline-block;
}

header .cont .stauts .item {
  padding: 30px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  min-width: 220px;
}

header .img {
  position: relative;
  max-width: 400px;
  margin: auto;
}

header .img:after, header .img:before {
  content: '';
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 380px;
  height: 380px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
  background: -webkit-linear-gradient(bottom, #fff, transparent);
  background: -o-linear-gradient(bottom, #fff, transparent);
  background: linear-gradient(to top, #fff, transparent);
  border-radius: 50%;
  opacity: .03;
  z-index: -1;
}

header .img:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(transparent));
  background: -webkit-linear-gradient(top, #fff, transparent);
  background: -o-linear-gradient(top, #fff, transparent);
  background: linear-gradient(to bottom, #fff, transparent);
  width: 460px;
  height: 460px;
  top: 80px;
  opacity: .02;
  z-index: -2;
}

/* ------------ services ------------ */
.services-carsouel {
  position: relative;
}

.services-carsouel .circle-blur {
  top: -40px;
  left: 0;
  width: 180px;
  height: 180px;
  background: #8781c6;
}

.services-carsouel .swiper-slide {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.services-carsouel .swiper-slide.swiper-slide-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.services-carsouel .swiper-slide.swiper-slide-active .item:after {
  opacity: 1;
}

.services-carsouel .item {
  padding: 60px 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #23262d;
  position: relative;
}

.services-carsouel .item:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: -webkit-linear-gradient(140deg, #ef7355, #ffbb86, #8781c6);
  background-image: -o-linear-gradient(140deg, #ef7355, #ffbb86, #8781c6);
  background-image: linear-gradient(310deg, #ef7355, #ffbb86, #8781c6);
  border-radius: 0 0 5px 5px;
  opacity: 0;
}

.services-carsouel .swiper-pagination {
  bottom: 0;
}

.services-carsouel .swiper-pagination-bullet {
  background: transparent;
}

.services-carsouel .swiper-pagination-bullet-active .path {
  display: inline-block !important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash linear 120s;
  animation: dash linear 120s;
  -webkit-animation-iteration-count: unset;
  animation-iteration-count: unset;
}

.services-carsouel .path {
  display: none;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* ------------ blck ------------ */
.blck {
  position: relative;
}

.blck .circle-blur {
  top: 0px;
  right: 0;
  width: 140px;
  height: 140px;
}

.blck .img {
  position: relative;
}

.blck .hf-circle:after {
  content: '';
  position: absolute;
  bottom: -50px;
  right: -100px;
  height: 300px;
  width: 150px;
  border-bottom-right-radius: 300px;
  border-top-right-radius: 300px;
  background: #fff;
  opacity: .03;
  z-index: -1;
}

.blck .hf-circle:before {
  content: '';
  position: absolute;
  top: -50px;
  left: -100px;
  height: 300px;
  width: 150px;
  border-bottom-left-radius: 300px;
  border-top-left-radius: 300px;
  background: #fff;
  opacity: .03;
  z-index: -1;
}

.blck .circle:after, .blck .circle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 360px;
  height: 360px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
  background: -webkit-linear-gradient(bottom, #fff, transparent);
  background: -o-linear-gradient(bottom, #fff, transparent);
  background: linear-gradient(to top, #fff, transparent);
  border-radius: 50%;
  opacity: .03;
  z-index: -1;
}

.blck .circle:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(transparent));
  background: -webkit-linear-gradient(top, #fff, transparent);
  background: -o-linear-gradient(top, #fff, transparent);
  background: linear-gradient(to bottom, #fff, transparent);
  width: 440px;
  height: 440px;
  opacity: .02;
  z-index: -2;
}

.check-list li .icon {
  background: rgba(255, 255, 255, 0.02);
}

.tabs .tab-links .item-link {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 10px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.tabs .tab-links .item-link.current {
  pointer-events: none;
  background: rgba(255, 255, 255, 0.02);
  border-color: transparent;
}

.tabs .tab-links .item-link.current .icon {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.1);
}

.tabs .tab-links .item-link .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 30px;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.05);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.tabs .tab-content {
  display: none;
}

.tabs .tab-content.current {
  display: block;
}

/* ------------ testimonials ------------ */
.testim-grid {
  overflow: hidden;
}

.testim-grid .box {
  padding: 100px 0;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 15px;
}

.testim-grid .swiper-container {
  overflow: visible;
}

.testim-grid .item {
  border: 0;
  position: relative;
  background: #23262d;
  margin: 2px;
}

.testim-grid .item:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-image: -webkit-linear-gradient(140deg, #ef7355, #ffbb86, #8781c6);
  background-image: -o-linear-gradient(140deg, #ef7355, #ffbb86, #8781c6);
  background-image: linear-gradient(310deg, #ef7355, #ffbb86, #8781c6);
  z-index: -1;
  opacity: .2;
}

.testim-grid .item .rate-star {
  color: #ef7355;
}

.testim-grid .item .img {
  width: 50px;
  height: 50px;
}

.testim-grid .swiper-slide-active .item:after {
  opacity: 1;
}

/* ------------ price ------------ */
.price {
  position: relative;
}

.price .circle-blur {
  top: 0px;
  right: 0;
  width: 160px;
  height: 160px;
}

.price .item {
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  padding-bottom: 60px;
}

.price .item .round-head h6 span {
  background: rgba(255, 255, 255, 0.03);
  opacity: 1;
  border-radius: 0;
}

.price .item .content {
  padding: 0 60px;
}

.price .item .content .amount {
  padding: 0;
  border: 0;
}

.price .item .offer .dis {
  opacity: .3;
}

.price .item .order a {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 60px;
  line-height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.price .item .order a:hover {
  background: #fff;
  color: #23262d;
}

/* ------------ Clients brands ------------ */
.clients-carsouel .line-head h6 {
  background: #23262d;
}

.clients-carsouel .line-head:after {
  opacity: .2;
}

.clients-carsouel .item .img img {
  max-width: 80px;
}

/* ------------ footer ------------ */
footer {
  position: relative;
}

footer .circle-blur {
  bottom: 0px;
  left: 0;
  width: 120px;
  height: 120px;
}

footer .download-app .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer .sub-footer {
  padding: 40px 0;
}

footer .sub-footer .logo {
  max-width: 70px;
}

footer .sub-footer .links li {
  display: inline-block;
  padding: 0 15px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* ====================== [ Start Responsive ] ====================== */
@media screen and (max-width: 991px) {
  .bg-img {
    background-position: center !important;
  }
  .md-mb10 {
    margin-bottom: 10px;
  }
  .md-mb20 {
    margin-bottom: 20px;
  }
  .md-mb30 {
    margin-bottom: 30px;
  }
  .md-mb40 {
    margin-bottom: 40px;
  }
  .md-mb50 {
    margin-bottom: 50px !important;
  }
  .md-mb80 {
    margin-bottom: 80px;
  }
  .md-no-mrg {
    margin: 0 !important;
  }
  .md-pb10 {
    padding-bottom: 10px;
  }
  .md-pb20 {
    padding-bottom: 20px;
  }
  .md-pb30 {
    padding-bottom: 30px;
  }
  .md-pb40 {
    padding-bottom: 40px;
  }
  .md-pb50 {
    padding-bottom: 50px;
  }
  .md-pb60 {
    padding-bottom: 60px;
  }
  .md-pb70 {
    padding-bottom: 70px;
  }
  .md-pb80 {
    padding-bottom: 80px;
  }
  .md-pt80 {
    padding-top: 80px !important;
  }
  .md-no-pad {
    padding: 0 !important;
  }
  .md-center {
    text-align: center !important;
  }
  .order2 {
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
  }
  .order1 {
    -webkit-box-ordinal-group: 2 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }
  .md-hide,
  .sticky-bar .left-bar .contact-butn,
  .sticky-bar .right-bar .social-text,
  header.rshp .front,
  .testim-box-shape .back-shape {
    display: none;
  }
  .fixed-search .search-area.search-on .search-form form input {
    width: 200px;
  }
  .fixed-search .search-area.search-on .search-icon {
    left: 200px;
  }
  .navbar {
    min-height: 60px;
  }
  .navbar .navbar-collapse {
    max-height: 340px;
    overflow: auto;
    background: #fff;
    text-align: center;
    padding: 10px 15px;
  }
  .navbar .nav-link {
    margin: 10px auto !important;
  }
  .navbar .search-area:before {
    display: none;
  }
  .navbar .search-area .search-icon {
    color: #18191d;
    display: none;
  }
  .navbar .search-area .search-form {
    position: relative;
    display: block;
  }
  .navbar .search-area .search-form .form-group {
    width: 100%;
  }
  .navbar .search-area .search-form .close-search {
    display: none;
  }
  .navbar .social {
    display: none;
  }
  .navbar .logo {
    margin-left: 15px;
    width: 50px;
  }
  .nav-scroll .navbar-collapse .nav-link,
  .light .navbar-collapse .nav-link {
    color: #18191d !important;
  }
  .navbar .search {
    border: 0;
    padding: 0;
    margin-top: 30px;
  }
  .navbar-nav .dropdown-menu {
    opacity: 1;
    visibility: visible;
    display: none;
    background: #f7f7f7;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-item .dropdown-side {
    position: static;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none;
    margin-top: 15px;
  }
  .navbar-nav .dropdown-menu .dropdown-item .dropdown-side.show {
    display: block;
  }
  .navbar .dropdown-menu .dropdown-item a .icon-arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .navbar-nav .dropdown-menu.show {
    display: block;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0;
  }
  .navbar .mega-menu .dropdown-menu {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f7f7f7;
    padding: 30px;
  }
  .navbar.light .navbar-toggler .md-revers {
    color: #18191d;
  }
  body.cr-agency .states ul {
    display: block;
    width: 100%;
  }
  body.cr-agency .states ul li {
    width: 100%;
  }
  body.cr-agency .fz-45 {
    font-size: 30px !important;
  }
  body.index-arch {
    padding: 0;
  }
  body.index-arch .nav-scroll .icon-bar,
  body.index-arch .nav-scroll .social a,
  body.index-arch .nav-scroll .search-area .search-icon,
  body.index-arch .nav-scroll .navbar-toggler {
    color: #fff !important;
  }
  body.index-arch .section-padding {
    padding: 100px 0;
  }
  body.index-arch .sec-head .flex {
    display: block;
  }
  body.index-arch .sec-head .flex .s-title {
    margin-top: 20px;
  }
  body.index-arch .sec-head.mb-100 {
    margin-bottom: 80px !important;
  }
  body.index-arch .blog .cont .date {
    min-width: 70px;
  }
  body.index-arch footer .justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  body.index-arch footer .sub-f .copyrights {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    margin-top: 0;
  }
  body.index-freelancer .testim-modrn2 .author-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 50px;
  }
  body.index-freelancer .testim-modrn2 .cont {
    padding-left: 0;
    text-align: center;
  }
  body.index-freelancer .testim-modrn2 .cont .info {
    display: block;
  }
  body.index-freelancer .testim-modrn2 .cont .info span {
    margin: 5px 0 0;
  }
  body.index-freelancer .testim-modrn2 .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  body.index-freelancer .swiper-container-rtl .swiper-button-prev {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  body.index-freelancer .swiper-container-rtl .swiper-button-next {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  body.index-freelancer footer .sub-f .copyrights {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    margin-top: 0;
  }
  body.index-restaurant .menu-book .paltes .img.img3 {
    right: 30px;
  }
  body.index-restaurant .menu-book .paltes .img.img1 {
    bottom: -30px;
  }
  body.index-restaurant .sipm-gallery {
    padding-left: 0;
    padding-right: 0;
  }
  body.index-restaurant .call-action-app .container {
    padding: 80px 40px;
  }
  body.index-restaurant .call-action-app .container .img {
    position: relative;
    margin-top: 50px;
    top: auto;
  }
  body.index-restaurant footer .reservation {
    padding-bottom: 0 !important;
  }
  body.mobile-app .nav-scroll .icon-bar,
  body.mobile-app .nav-scroll .social a,
  body.mobile-app .nav-scroll .search-area .search-icon,
  body.mobile-app .nav-scroll .navbar-toggler {
    color: #fff !important;
  }
  body.mobile-app header .img {
    max-width: 300px;
    margin: 0 auto 50px;
  }
  body.mobile-app header .cont .stauts .item {
    width: 100%;
  }
  body.mobile-app .blck .img {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  body.mobile-app .round-head h6 {
    padding: 15px 30px;
  }
  body.mobile-app footer .copyrights {
    margin: 15px auto 0;
  }
  .home-freelancer .justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .home-freelancer .img {
    margin: 50px auto 0;
  }
  .home-freelancer .img:after,
  .home-freelancer .social {
    display: none;
  }
  .hero-cir .th-cir {
    margin: 0 auto 50px;
  }
  .home-bus1 .caption h1 {
    font-size: 30px !important;
  }
  header.corporate h5 {
    font-size: 16px !important;
  }
  header .img.half-abs {
    display: none;
  }
  .arch-slider .parallax-slider .caption h1 {
    font-size: 40px;
  }
  .slider .parallax-slider .caption p {
    padding-left: 0;
    margin-left: auto;
  }
  .slider .parallax-slider .caption p:after {
    display: none;
  }
  .arch-slider .parallax-slider .explore a {
    width: 120px;
    height: 120px;
    line-height: 120px;
    letter-spacing: 2px;
  }
  .arch-slider .parallax-slider .explore {
    margin: 50px 0 0;
  }
  .clients-carsouel .item .cont-flex {
    display: none;
  }
  .round-head h2,
  .round-head h3,
  footer .cal h4 {
    font-size: 28px !important;
  }
  .simple-head h2 {
    font-size: 30px !important;
  }
  .services .item,
  .numbers .bloc,
  .blog-grid .item,
  .hero .main-text,
  .skills .content,
  .features-process .item,
  .blog .side-img,
  .footer-half .left-half,
  .intro-img-shape,
  .numbers .item,
  footer .clumn {
    margin-bottom: 50px;
  }
  .feat-exp .feat-item-img,
  .feat-exp .container-fluid,
  .portfolio .filtering {
    margin-top: 50px !important;
  }
  footer .copyrights {
    margin-top: 15px;
  }
  .services,
  .blog-grid,
  .features-process,
  .blog {
    padding-bottom: 70px;
  }
  .numbers .container {
    padding-bottom: 10px;
  }
  .feat-exp {
    padding-bottom: 0 !important;
  }
  .footer-half .left-half {
    padding-right: 0;
  }
  .footer-half {
    padding-bottom: 50px !important;
  }
  .process-img .out-box,
  .portfolio .filtering {
    margin-right: auto;
  }
  .portfolio .wild-padding {
    padding: 0 !important;
  }
  .hero .quote {
    margin-left: 0;
    margin-top: -50px;
  }
  .hero-cr .img-exp {
    padding-left: 0;
    display: block;
    margin-bottom: 80px;
    margin-top: 70px;
  }
  .hero-cr .img-exp .img {
    width: 100%;
    height: 300px;
    margin: auto;
  }
  .hero-cr .img-exp .rotate-exp {
    -webkit-transform: rotate(0) translateX(-50%) translateY(-100%);
    -ms-transform: rotate(0) translateX(-50%) translateY(-100%);
    transform: rotate(0) translateX(-50%) translateY(-100%);
    left: 50%;
    bottom: auto;
    top: -50px;
  }
  .numbers .container {
    padding-top: 0;
  }
  .testimonials.corp .box-testim {
    left: auto;
  }
  .testimonials .content {
    padding: 30px 50px 80px 50px;
  }
  .testimonials .swiper-img .item {
    height: auto;
  }
  .testimonials .controls {
    top: calc(100% - 50px);
  }
  .testim-box-shape:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #252739;
    opacity: 0.7;
  }
  .testim-box-shape .testim-crve {
    position: relative;
    z-index: 4;
  }
  .testim-box-shape .item {
    padding: 80px 50px;
  }
  .testim-box-shape .item .qoute-icon {
    color: #fff;
    background: none;
    -webkit-text-fill-color: inherit;
  }
  .testim-box-shape .item p {
    color: #d4d4d4;
  }
  .testim-box-shape .item .info {
    color: #fff;
  }
  .testim-box-shape .item .img {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .sec-half:after {
    width: 100%;
  }
  .round-head .flex,
  .blog-grid .valign {
    display: block !important;
  }
  .round-head h6,
  .blog-grid .s-title {
    padding: 0;
    margin-top: 15px;
  }
  .work-carsouel .work-crsol {
    -webkit-clip-path: none;
    clip-path: none;
  }
  .work-carsouel.crv .swiper-slide {
    width: 100% !important;
  }
  .simg-testim .img5,
  .simg-testim .img2,
  .hero-cr #circle,
  .footer-half:after {
    display: none;
  }
  .clasic-action h2 {
    font-size: 30px;
  }
  .clasic-action .justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    margin-top: 30px;
  }
  footer .call-action-banner {
    padding: 40px 30px;
  }
  footer .call-action-banner .call-button {
    display: block !important;
    margin-top: 30px;
  }
  footer .cal .justify-content-end,
  footer .copyrights {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .main-footer .container.pb-80 {
    padding-bottom: 30px !important;
  }
}

@media screen and (max-width: 767px) {
  .sm-mb10 {
    margin-bottom: 10px;
  }
  .sm-mb20 {
    margin-bottom: 20px;
  }
  .sm-mb30 {
    margin-bottom: 30px;
  }
  .sm-mb40 {
    margin-bottom: 40px;
  }
  .sm-mb50 {
    margin-bottom: 50px;
  }
  .sm-mb80 {
    margin-bottom: 80px;
  }
  .sm-pb10 {
    padding-bottom: 10px;
  }
  .sm-pb20 {
    padding-bottom: 20px;
  }
  .sm-pb30 {
    padding-bottom: 30px;
  }
  .sm-pb40 {
    padding-bottom: 40px;
  }
  .sm-pb50 {
    padding-bottom: 50px;
  }
  .sm-pb60 {
    padding-bottom: 60px;
  }
  .sm-pb70 {
    padding-bottom: 70px;
  }
  .sm-pb80 {
    padding-bottom: 80px;
  }
  .sm-hide {
    display: none;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  body.index-arch .testim-modrn2 .author-img {
    display: none;
  }
  body.index-arch .testim-modrn2 .cont {
    padding-left: 0;
  }
  body.index-arch footer .sub-f .copyrights {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    margin-top: 10px;
  }
  body.index-freelancer footer .sub-f .copyrights {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    margin-top: 10px;
  }
  body.mobile-app header .cont .stauts {
    display: block;
  }
  body.mobile-app header .cont .stauts .item {
    margin-top: 15px;
  }
  .progress-wrap {
    right: 15px;
    bottom: 15px;
  }
  .navbar .logo {
    width: 40px;
  }
  .fw-700 {
    font-weight: 600 !important;
  }
  .fz-45 {
    font-size: 30px !important;
  }
  header.corporate .cluom .info {
    padding: 20px;
  }
  .home-bus1 .caption {
    text-align: center;
  }
  .home-bus1 .play-button .vid {
    margin-top: 50px;
  }
  .pg-header-bus .caption h1,
  .pg-header-sipm .caption h1 {
    font-size: 35px !important;
  }
  .simple-head h4 {
    font-size: 30px;
  }
  .hero-cr .img-exp .img {
    height: 200px;
  }
  .hero-cr .img-exp .img:after {
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
  }
  .corporate .caption {
    margin-bottom: 250px;
  }
  .corporate .caption h1 {
    font-weight: 700 !important;
    font-size: 40px !important;
  }
  .feat-exp .lg-text {
    font-size: 80px;
  }
  .feat-exp .exp {
    margin-left: 0 !important;
  }
  .services .item-box {
    display: block;
    padding: 40px 20px;
  }
  .services .item-box .icon-bord-shad {
    margin-bottom: 30px;
  }
  .services .item-box .cont {
    margin-left: 0 !important;
  }
  .hero-cr .img-exp .rotate-exp h6 {
    white-space: nowrap;
  }
  h6.mb-20 {
    margin-bottom: 10px !important;
  }
  .portfolio .filtering .filter {
    padding: 5px;
  }
  .portfolio .filtering span {
    margin: 5px 10px;
  }
  .testimonials.corp .bg-img .play-button {
    bottom: 10px;
    right: auto;
    left: 10px;
  }
  .testim-simp-crus .item {
    padding: 0;
  }
  .testim-simp-crus .item h5 {
    font-size: 20px !important;
  }
  .simg-testim {
    display: none;
  }
  .testim-box-shape .item {
    padding: 60px 40px;
  }
  .line-head h6 {
    padding: 0 10px;
  }
  .contact-crv .box-shadow {
    padding: 50px 20px;
  }
}

/* ====================== [ End Responsive ] ====================== */
