
body {
	height: 100vh;
	overflow: hidden;
	color: #fff;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;		
}

.js body.render {
	opacity: 1;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
}

.slid-text{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}

.slid-text .swiper-slide-active .cont h1 {
	-webkit-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
  }
  
  .slid-text .swiper-slide-active .cont h1 .char {
	-webkit-animation: fadeInUp 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
	animation: fadeInUp 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
	-webkit-animation-delay: calc(40ms * var(--char-index));
	animation-delay: calc(40ms * var(--char-index));
  }
  
  .slid-text .swiper-slide-active .cont h6 {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
  }
  
  .slid-text .cont .splitting .whitespace {
	width: 10px;
  }
  
  .slid-text .cont h1 {
	font-size: 60px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .5s,
   visibility .5s;
	-o-transition: opacity .5s,
   visibility .5s;
	transition: opacity .5s,
   visibility .5s;
  }
  
  .slid-text .cont h6 {
	color: #eee;
	margin-top: 10px;
	opacity: 0;
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	transform: translateY(40px);
	-webkit-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
  }