
/* ====================== [ Start accordion ] ====================== */

.accordion{

    &.bord{

        .title{
            border-bottom: 1px solid #eee;
            padding-left: 0;

            &:after{
                left: auto;
                right: 20px;
            }

            .ico{
                left: auto;
                right: 25px;
            }
        }

        .accordion-info{
            padding: 0;
            margin-top: 15px;
        }
    }

    &.shadwo{
        
        .item{

            .title{
                padding: 17px 30px;
                border: 1px solid #e3e3e3;
                border-radius: 30px;

                .ico{
                    left: auto;
                    right: 25px;
                }
            }

            .accordion-info{
                margin-top: 20px;
            }
        }

        .item.active{
            
            .title{
                background: #f6f6ff;
                border-color: transparent;
            }
        }
    }

    &.box-shad{

        .title{
            padding: 30px 30px 20px;
            border-radius: 0;
            border-bottom: 1px solid rgba(150,150,150,.1);
        }

        .accordion-info{
            margin: 0;
            padding: 0px 25px 30px;
            border-left: 0 !important;
        }

        .item{
            margin-bottom: 0;

            &.active{
                background: rgba(150,150,150,.1);
    
                .title{
                    border-color: transparent;
                    background: transparent;
                }
            }
        }
    }
    .item{
        margin-bottom: 30px;
    }

    .title{
        padding: 15px 30px 15px 50px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;

        .ico{
            position: absolute;
            top: 50%;
            left: 20px;
            width: 15px;
            height: 1px;
            transform: translateY(-50%);
            background: #333;
        }
    }

    .accordion-info{
        display: none;
        padding: 0px 30px;
        margin-top: 30px;
        border-left: 1px dotted rgba(255,255,255,.1);

        .spac{
            margin-top: 30px;
            padding-left: 30px;

            h6{
                position: relative;
                margin-bottom: 15px;

                &:after{
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #555;
                    position: absolute;
                    top: 3px;
                    left: -15px;
                }
            }

            ul{
                padding-left: 30px;
            }

            li{
                margin-bottom: 10px;
                position: relative;
                font-size: 15px;

                &:after{
                    content: "";
                    width: 6px;
                    height: 6px;
                    border: 1px solid #222;
                    border-radius: 50%;
                    position: absolute;
                    top: 9px;
                    left: -15px;
                }
            }
        }
    }

    .active{
        display: block;

        .title{
            background: rgba(255,255,255,.03);

            .ico{
                
                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 1px;
                    height: 15px;
                    transform: translateY(-50%);
                    background: #333;
                }
            }
        }
    }
}

.bg-dark,
[data-overlay-dark]{

    .accordion .title .ico{
        background: #fff;

        &:after{
            background: #fff;
        }
    }
}

/* ====================== [ End accordion ] ====================== */