

/* ====================== [ Start contact ] ====================== */

.contact-crv{

    .box-shadow{
        padding: 80px 50px;
        background: #fff;
        box-shadow: 0px 20px 40px rgba(60,63,130,.07);
        position: relative;
        margin-top: -80px;
    }

    form{
        
        input,
        textarea{
            padding: 15px 20px;
            background: rgba(60,63,130,.04);
            border: 0;
            border-bottom: 1px solid rgba(60,63,130,.07);
            width: 100%;
        }

        textarea{
            height: 100%;
        }

        .sam-height{
            height: 100%;
        }

        button{
            padding: 15px 40px;
            min-width: 180px;
            text-align: center;
            border-radius: 30px;
            border: 1px solid #3b3f82;
            background: #3b3f82;
            color: #fff;
            transition: all .4s;

            &:hover{
                background: transparent;
                color: #3b3f82;
            }
        }
    }

    .google-maps{
        height: 450px;
        width: 100%;
        position: relative;
        filter: grayscale(100%);

        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.contact{

    .form{

        .form-group{
            margin-bottom: 30px;
    
            input,
            textarea{
                padding: 15px 30px;
                background: #fbfbfb;
                border: 0;
                border-bottom: 1px solid #eee;
                width: 100%;
            }
        }
    
        .sub-title{
            padding: 15px 40px;
        }
    }
}

.contact-dark{
    color: #fff;

    form{

        input,
        textarea{
            color: #fff;
            padding: 15px;
            background: rgba(255,255,255,.02);
            border: 0;
            width: 100%;
            border-bottom: 1px solid rgba(255,255,255,.1);
        }

        button{
            
            span{
                color: #23262d;
            }

            &:hover{
                background: #23262d;
                
                span{
                    color: #fff;
                }
            }
        }
    }
}

/* ====================== [ End contact ] ====================== */